*{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}


#red
{
    color: blue;
    background-color: red;
    border: 5px solid yellow;
    border-radius: 10px;
    padding-left: 100px;
    margin: 100px 200px 100px 200px ;
}

.green
{
    color: rgb(226, 45, 45);
    background-color: black;
    border: 5px solid blue;
    border-radius: 10px;
    padding-left: 100px;
    margin: 100px 200px 100px 200px ;
}
