*
{
    margin: 0;
    pad: 0;
}
div
{
    height: 100px;
    width: 300px;
    border: 2px solid black;
        /*  it gives tha margin  between two boxes */
    margin: 10px; 
    /* it gives the padding  between element or border */

    padding: 50px;
    /* display: inline; */
    background-color: blueviolet;

    border-radius: 2px;
}